.form {
	margin: 0.5em 0em;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 1em 0;
}
.form h3 {
	margin: 0;
}
.form .column {
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
}

.row {
	display: flex;
	flex-direction: row;
}
.flex-grow {
	flex-grow: 1;
}
.border-bottom {
	border-bottom: 1px dotted darkgray;
}
.alternate:nth-child(even) {
	background-color: rgb(244, 201, 208);
}